* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5em;
}
.headerClass {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  box-shadow: 0px 1px 3px gray;
}
.navbar {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
}
.searchBaR {
  height: 30px;
  width: 22vw;
  padding: 10px;
  border: none;
  box-shadow: 0px 1px 3px gray;
}
.selectRegion,
.selectSorting {
  height: 30px;
  width: 15vw;
  border: none;
  box-shadow: 0px 1px 3px gray;
}
.country-card {
  box-shadow: 0px 1px 3px gray;
  border-radius: 10px;
  width: 20vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.imageClass {
  height: 10vw;
}
.imageClass img {
  width: 100%;
  height: 10vw;
  object-fit: fill;
}
.allData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 2em;
  gap: 1em;
}
